main {
  background-color: #f6b25e;
  padding: 1rem;
  color: black;
  font-family: Arial, Helvetica, sans-serif; }

h2 {
  color: black;
  font-family: 'Courgette', cursive;
  font-size: 3rem; }

h3 {
  color: black;
  font-family: 'Courgette', cursive;
  font-size: 2.3rem; }

footer {
  background-color: #38260f;
  width: 100%;
  height: 20vh;
  padding: 0;
  margin: 0; }

header {
  background-color: #fdd8ab;
  width: 100vw; }
  header nav {
    background-color: #fdd8ab;
    background-color: #3a3229; }
    header nav div {
      background-color: #fdd8ab; }
      header nav div a {
        font-family: 'Courgette', cursive;
        font-family: 'MonteCarlo', cursive;
        font-size: 2rem; }

@media (min-width: 768px) {
  .main {
    display: flex;
    justify-content: center;
    align-items: center; } }

* {
  padding: 0;
  margin: 0; }

body {
  width: 100vw;
  height: 100vh; }

p {
  font-size: 1.2rem; }
