$header: rgb(58, 50, 41);

$footer: rgb(56, 38, 15);

$letrafooter: white;

$main: rgb(246, 178, 94);


$divheader: rgb(253, 216, 171);

$ulprincipal: rgb(243, 191, 127);

$lihover: rgb(246, 150, 6);





