@import "colors";

main{
    background-color: $main;
    padding: 1rem;
    color: black;
    font-family: Arial, Helvetica, sans-serif
}
h2{
    color: black;
    font-family: 'Courgette', cursive;
    font-size: 3rem;
}
h3{
    color: black;
    font-family: 'Courgette', cursive;
    font-size: 2.3rem;
}